#splash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  transition: opacity .25s ease-out;

  &.hidden {
    opacity: 0;
  }
}