body {
  padding: 4rem;
  font-family: sans-serif;
}

splash > div {
  padding-top: 20%;
  text-align: center;
  position: fixed;
  background: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  transition: opacity .25s ease-out;

  &.hidden {
    opacity: 0;
    /**
     * This is important. since the loader still exists,
     * it's just transparent, so it blocks the clicks from
     * the app underneath it. If you're using another technique
     * for hiding the splash that uses display: none or removes
     * it from the DOM, you don't need this.
     */
    pointer-events: none;
  }
}

.overlay-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.8);
  z-index: 999;
}

.overlay-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 100%;
  color: #FFF;
  text-align: center;

  & label {
    font-size: 20px;
    opacity: 0;
    display: inline-block;
    color: #81b5ec;

    &:nth-child(6) {
      animation: lol 2s infinite ease-in-out;
    }

    &:nth-child(5) {
      animation: lol 2s 100ms infinite ease-in-out;
    }

    &:nth-child(4) {
      animation: lol 2s 200ms infinite ease-in-out;
    }

    &:nth-child(3) {
      animation: lol 2s 300ms infinite ease-in-out;
    }

    &:nth-child(2) {
      animation: lol 2s 400ms infinite ease-in-out;
    }

    &:nth-child(1) {
      animation: lol 2s 500ms infinite ease-in-out;
    }
  }
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}